[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django-cors-headers = "*"
"psycopg2" = "*"
gunicorn = "*"
django = "*"
whitenoise = "*"
python-decouple = "*"

[dev-packages]
ipdb = "*"

[requires]
python_version = "3.6"
